<navbar></navbar>

<div class="cartBox">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div>
            <p for="name">Name</p>
            <input id="name" type="text" formControlName="name">
        </div>
        <div>
            <p for="email">Email</p>
            <input id="email" type="text" formControlName="email">
        </div>

        <div>
            <p for="credit">Creditcard</p>
            <input id="credit" type="text" formControlName="credit">
        </div>

        <button class="btn btn-success" type="submit">Purchase</button>


    </form>


</div>