.homepic {
    width: 100%;
    height: 40rem;
    background-image: url("/../../assets/ship.jpg");
    text-align: center;
    margin-right: 40rem;
    margin-left: 1rem;
}

.line {
    margin-top: 15rem;
    color: white;
    font-size: 500%;
    font-family: 'Amatic SC', cursive;
}

.homeBox {
    margin-top: 5rem;
    color: white;
    font-family: 'Amatic SC', cursive;
    margin-right: 5rem;
    margin-left: 5rem;
}

.homeBox1 {
    width: 10rem;
    border: 2px solid white;
}

.homeBox2 {
    width: 10rem;
    height: 20rem;
}

h3 {
    margin-top: 1rem;
}