<div class="homepic">

    <navbar></navbar>

    <p class="line col-12">journey to your dreams</p>

</div>
<div class="homeBox row">

    <div class="homeBox1 col-6">

        <p>We will make your Vaction unforgettable</p>

        <h3>Services We Offer</h3>

        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Travel insurance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sightseeing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accommodation</a>
                    </li>
                </ul>
            </div>
        </nav>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    </div>

    <div class="homeBox2 col-6">


    </div>